<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>

  <b>Api</b> <br><br>
  Example: <br>
  <pre>
  {
	"x0Val":"0.0",
	"p0Val":"1.0",
	"t0Val":"0.0",
	"t1Val":"5.0",
	"dtVal":"0.1",
	"functionVal":"-x^2"
}
    </pre>
  Note: the ratio <span lang="latex">\frac{t_1-t_2}{dt}</span> cannot be larger than 5000. The parameter <span lang="latex">dt</span> is rescaled in order to satifsy such constraint.





  <p> Davide Bianchini - <i>bianchini.davide.89@gmail.com</i></p>

  <script type="text/javascript" src="https://latex.codecogs.com/latexit.js"></script>


</body>
</html>
